/*
// ======================================
// CSS for PLAYER/CLUB toggle menu
// ======================================
*/


.results-menu-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.player-club-toggle-wrapper {
	display: flex;
    justify-content: center;
    width: 80vw;
    margin-top: -40.5vh;
    align-self: center;
}

.toggle-inner-container {
	padding: 0.5em 1em;
	display: flex;
	transition: border-bottom 1s ease,
				color 1s ease;
}

.player-club-toggle-player-inner-container {
	justify-content: flex-end;
	width: 50%;
	border-bottom: solid #dadada 1px;
	color: #dadada;
	cursor: pointer;
}

.player-club-toggle-club-inner-container {
	width: 50%;
	border-bottom: solid #dadada 1px;
	color: #dadada;
	cursor: pointer;
}


.toggle-active {
	border-bottom: solid black 1px;
	color: black;
}

.player-club-menu-text {
	font-size: 1.75em;
	letter-spacing: .1em;

}

.results-number-text {
	font-size: .75em;
}

.results-number-box {
	display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    color: #dadada;
    padding: .15em;
    width: .5em;
    height: .5em;
    border-radius: .5em;
    transition: color 1s ease;
}

.number-box-active {
	color: black;
}


@media (min-width: 650px) {

	.player-club-toggle-wrapper {
		width: 50vw;
	}
}



@media (min-width: 1200px) {

	.player-club-toggle-wrapper {
		width: 40vw !important;
	}
}
