/*
// ======================================
// CSS to style results list | PLAYERS & CLUBS
// ======================================
*/


.results-list-wrapper {
	position: absolute;
    top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-and-line-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


/*
// ======================================
// MEDIA QUERIES
// ======================================
*/



@media (max-width: 330px) {


    .results-list-wrapper {
    	width: 95vw;
    }

}