/*
// ======================================
// CSS for This week / Everyone toggle buttons
// ======================================
*/


.this-week-everyone-toggle-wrapper {
	display: flex;
	justify-content: flex-end;
    padding: 1em;
    width: 80vw;
    align-self: center;
}


.this-week-everyone-button {
	font-size: .5em;
    cursor: pointer;
    letter-spacing: .1em;
    color: black;
    padding: .5em;
    border: 1px solid black;
    transition: background-color .25s ease,
                color .25s ease;
}

.this-week-everyone-button-active {
	background-color: black;
	color: white;
}



@media (min-width: 650px) {

    .this-week-everyone-toggle-wrapper {
        
        width: 50vw;
    }
}


@media (min-width: 1000px) {

    .this-week-everyone-button {
        
        font-size: .6em;
    }
}


@media (min-width: 1200px) {

    .this-week-everyone-toggle-wrapper {
        
        width: 40vw;
    }
}