/*
// ======================================
// This file contains the CSS to style the background image used on the landing page 
// ======================================
*/


.landing-background-image {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/5236674/pexels-photo-5236674.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/5236674/pexels-photo-5236674.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.pexels.com/photos/5236674/pexels-photo-5236674.png?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");

  /* Set a specific height */
  	height: 100vh;

  /* Position and center the image to scale nicely on all screens */
	background-position: left;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
}