<!DOCTYPE html>
<html lang="en">
	<head>
	  	<meta charset="utf-8">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<!-- Site Info & Accessibility -->
		<title>Pundits Review</title>
	  	<meta property="og:title" content="Pundits' Review">
	    <meta property="og:image" content="https://i.ibb.co/3fm0WwH/og-image.png">
	    <meta property="og:description" content="The scoring system that shows you how Premier League players and teams were reviewed by the media">
	    <meta property="og:url" content="https://www.punditsreview.com">
	    <meta property="og:type" content="football blog data"/>
	    <meta name="twitter:card" content="summary_large_image">
	    <meta property="og:image" content="https://i.ibb.co/3fm0WwH/og-image.png" />
	    <link rel="apple-touch-icon" href="https://i.ibb.co/whStZSB/pr-logo-square.png" />
		<link rel="icon" href="https://i.ibb.co/ZXVNVY5/pr-logo-plain-opauq.png" />
	
		<!-- Style Links -->
	  	<link rel="stylesheet" href="https://use.typekit.net/exb6dra.css">
	  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	 	<link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>


	 	 <!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175534305-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-175534305-1');
		</script>

	</head>
	<body>
		<div id="app">
	    <!-- Pundits Review React Application will load here ... -->
		</div>
	</body>
{% load static %}
<script src="{% static 'frontend/main.js' %}"></script>
</html>