
/*
// ======================================
// CSS for Blog List Dot
// ======================================
*/


.blog-list-dot {
	height: 5px;
    width: 5px;
    border-radius: 2em;
    background-color: black;
}